@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(150deg, rgb(31, 145, 183), rgb(120, 24, 24));
    /* background: linear-gradient(150deg, rgb(96, 183, 212), rgb(237, 156, 156)); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

.container{
    border: 2px solid rgb(2, 2, 23);
    background: white;
    height: 75vh;
    width: 24vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container .image1{
    object-fit: cover;
    height: 30%; 
     width: 100%;
     margin-top: -2px;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
}

.container .summary{
    font-size: 25px;
    font-weight: 700;
    font-family: poppins,sans-serif;
    text-shadow: 2px 2px 7px black;
}

.container .para{
    padding: 0 30px;
    font-size: 15px;
    color: #857878;
    text-shadow: 1px 1px 9px black;
}

.container .amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height:40px;
    width: 85%;
    background: rgb(73, 125, 142);
    border-radius: 17px;
}

.buttons{
    background:rgb(5, 35, 53);
    color: white;
    font-size: 16px;
    height: 50px;
    width:80%;
    border-radius: 17px;
    font-family: poppins,sans-serif;
     box-shadow: 3px 3px 3px  black;
}

.buttons:hover{
    background:rgb(1, 29, 48);
    color: white;
    font-size: 18px;
    height: 50px;
    width:80%;
    border-radius: 17px;
    box-shadow: 4px 4px 4px  black;
}

.cancel{
     font-weight: bold;
     font-size: 18px;
}


.rightside{
    font-weight: bold;
}


.leftside{
    margin-left: 10px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
}

.leftside .image2{
       height: 40px;
       width: 40px;
       position: relative;
       top: -4px;
       border-radius: 4px;
    }

    .leftside .amount-number{
        position: relative;
        bottom: 26px;
        font-size: 15px;
        left: 55px;
    }

   @media screen and (max-width: 1269px) {

  .container {
    width: 70vw;
    height: auto;
    padding-bottom: 20px;
  }

  .container .summary {
    font-size: 20px;
    text-align: center;
  }

  .container .para {
    font-size: 13px;
    padding: 0 15px;
    text-align: center;
  }

  .container .amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 8px;
  }

  
    .leftside .amount-number{
        position: relative;
        bottom: -2px;
        font-size: 15px;
        left: -5px
    } 


  .buttons {
    font-size: 14px;
    width: 90%;
  }

  .cancel {
    font-size: 16px;
  }
}
