@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(150deg, rgb(96, 183, 212), rgb(237, 156, 156));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

.container{
    border: 2px solid rgb(2, 2, 23);
    background: white;
    height: 75vh;
    width: 24vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container .image1{
    object-fit: cover;
    height: 30%; 
     width: 100%;
     margin-top: -2px;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
}

.container .summary{
    font-size: 25px;
    font-weight: 700;
    font-family: poppins,sans-serif;
}

.container .para{
    padding: 0 30px;
    font-size: 15px;
    color: #857878;
}

.container .amount{
    height:40px;
    width: 85%;
    background: rgb(73, 125, 142);
    border-radius: 17px;
}

.buttons{
    background:rgb(0, 7, 11);
    color: white;
    font-size: 16px;
    height: 50px;
    width:80%;
    border-radius: 17px;
    font-family: poppins,sans-serif;
}

.cancel{
     font-weight: bold;
     font-size: px;
}